<% if person.present? %>
  <tr class="person_row" data-name="<%= person.name %>" data-email="<%= person.email %>" data-id="<%= person.id %>" style="display:none;">
    <td nowrap="nowrap" class="checkbox_cell">
      <%= check_box_tag 'ids[]', person.id, false, id: "ids_#{person.id}", class: "id_checkbox id_group_#{group_id}" %>
    </td>
    <td class="name"><%= person.name %></td>
    <td class="email"><%= mail_to(person.email) if person.email.present? %></td>
    <td class="phone_number"><%= person.pretty_phone_number %></td>
    <td><%= t(group_membership.role) if group_membership.role.present? %>
      <% if person.is_archived?(current_organization) %>
        <span class="archived_group_label">&nbsp<%= t('general.archived') %>&nbsp</span>
      <% end %>
    </td>
  </tr>
<% end %>